[submodule "cd"]
	path = cd
	url = git://github.com/symfony/ClassLoader.git
[submodule "library/Symfony/Component/ClassLoader"]
	path = library/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "library/Gedmo"]
	path = library/Gedmo
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
